<%if current_user%>
<p>Welcome to bookmark manager <%=current_user.email%></p>
<%end%>


<!-- If current user exists, put message, otherwise don't. -->
<h1> Links </h1>
<ul id='url'>
  <% @links.each do |link| %>

    <li>
      Title: <%=link.name%>
      URL: <%=link.url%>
      Tags:
      <% unless link.tags.empty? %>
      <% link.tags.each do |tag| %>
        <%=tag.name%>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- tag.name is a method -->
